<ul>
  <h4>Formação Acadêmica:</h4>
  <li class="style-list">Escola Estadual Diadema - Ensino Médio Completo</li>
  <li class="style-list">
    ETEC Juscelino Kubitschek de Olivera - Técnico em desenvolvimento de
    sistemas - Agosto de 2020 - Conclusão Dezembro/2021
  </li>
  <li class="style-list">
    SENAI Armando de Arruda Pereira - Tecnólogo em Análise e Desenvolvimento de
    Sistemas - 2022 - Conclusão Dezembro/2023
  </li>
  <li class="style-list">Cultura Inglesa - inglês nível avançado</li>
</ul>
