* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

section {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
}

section img {
  border-radius: 25px;
}

section div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 75%;
  height: 100%;
}

section div h1,
h4 {
  color: black;
}

.title-header {
  color: black;
  font-weight: bolder;
  margin-left: 10px;
}

.desc-header {
  color: black;
  font-weight: bold;
  margin-left: 10px !important;
}
