/* Global Styles */
h1 {
  color: rgb(37, 27, 126);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 170%;
}
h2,
h3 {
  color: rgb(16, 5, 82);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 130%;
}
body {
  margin: 2em;
}
body,
input[text],
button {
  color: rgb(44, 9, 9);
  font-family: Cambria, Georgia;
  font-size: 90%;
}

button {
  font-family: Arial;
  background-color: rgb(116, 173, 230);
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited,
a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/*

*/
